
.modal {
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
    

.modal_is-opened {
    visibility: visible;
}

.modal__container {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
    margin: 40px auto;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    left: 750px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: 2px;
    background-color: #fff;
    color: #212121;
}

.modal__close-btn:hover {
   opacity: 40%; 
}

.modal__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 6px;
}

.modal__input {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 8px 0 0;
    width: 100%;
    border: 1px solid;
    border-radius: 6px;
    padding: 12px 16px;
    gap: 32px;
}

.modal__input::placeholder {
    color: #2121214d;
    font-style: italic;
}

.modal__submit-btn {
    font-size: 15px;
    max-width: 156px;
    gap: 8px;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    background-color: #212121 ;
    color: #fcf5e5;
}

.modal__submit-btn:hover {
    color:#fcf5e5 ;
}
   
@media (max-width: 600px) {
  .modal_container {
    max-width: 90%;    
    padding: 20px;     
    border-radius: 6px;
  }

  .modal_title {
    font-size: 18px;   
  }

  .modal_input {
    font-size: 14px;   
    padding: 10px;     
  }

  .modal_submit-btn {
    width: 100%;       
    font-size: 15px;
  }
}


