.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  justify-content: space-between;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  opacity: 0.7;
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: #212121;
  font-weight: 500;
  border: 0;
  opacity: 70%;
  height: 16px;
  gap: 8px;
  }
  
 .profile__edit-btn:hover  {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  width: 157px;
  padding: 0;
  background-color: #212121;
  color: #fcf5e5;
  height: 52px;
  margin-top: auto;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }

  profile__edit-btn {
    align-self: center;
  }
}
