
.popup {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: #00000080;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}


.popup__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px 50px 32px;
  position: relative;
  box-sizing: border-box;
}


.popup__close-button {
  background-image: url("../images/closeIconBlack.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 36px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

.popup__close-button:hover {
  opacity: 1;
}


.popup_type_preview .popup__close-button {
  background-image: url("../images/CloseIconwhite.svg");
  top: 0;
  right: -52px;
}


.popup__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
}


.popup__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.popup__input {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  border: 1px solid #21212166;
  border-radius: 6px;
  padding: 16px 12px;
  margin-top: 8px;
  box-sizing: border-box;
}

.popup__input:hover {
  border-color: #212121;
}

.popup__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.popup__input::placeholder {
  color: #2121214d;
  font-style: italic;
}


.popup__error {
  display: none;
  font-size: 12px;
  color: red;
  margin-top: 8px;
}

.popup__error_visible {
  display: block;
}


.popup__save-button {
  font-size: 16px;
  width: 156px;
  padding: 18px 0;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
  transition: 0.3s;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup__save-button_disabled {
  background-color: rgba(33, 33, 33, 0.5);
  cursor: default;
  pointer-events: none;
}


.popup__save-button_type_confirm {
  width: 100%;
}


.popup__preview-container {
  position: relative;
}

.popup__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.popup__preview-caption {
  font-size: 20px;
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 8px;
  max-width: 198px;
}


@media (max-width: 480px) {
  .popup__container {
    padding: 22px 12px 12px;
  }

  .popup__title {
    font-size: 20px;
  }

  .popup__input {
    font-size: 16px;
  }

  .popup__save-button {
    width: 100%;
  }

  .popup_type_preview .popup__close-button {
    top: -48px;
    right: 0;
  }
}

